@import "tailwindcss";

/* .register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.register-card {
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.register-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-group {
  position: relative;
  margin-bottom: 15px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-group {
  flex: 1;
}

.button-group button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-group button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.waves-wrp {
  margin-top: 50px;
  z-index: 0;
} */
